/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #fbbc14;
}
.nav__logo {
  font-size: 1.0em;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  animation: colorChange 2s infinite;
}

.nav__logo .location-icon {
  margin-right: 0.5em;
}

@keyframes colorChange {
  0% {
      color: #fbbc14; /* Red */
  }
  50% {
      color: var(--first-color) /* Blue */
  }
  100% {
      color: #fbbc14; /* Red */
  }
}

.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

.home {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 80vh; /* Take full viewport height */
  padding: 0 20px; /* Add padding to avoid content touching the edges */
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: #fbbc14;
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center social icons if column direction */
  margin-top: 20px; /* Add some space between the data and social icons */
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: #fbbc14;
}

.typing {
  font-size: 20px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  .home {
    height: auto; /* Let content determine height */
    padding-top: 20px; /* Add some padding on top for smaller screens */
  }

  .home__social {
    flex-direction: row;
    justify-content: center; /* Centers social icons horizontally on smaller screens */
  }

  .home__social-icon {
    margin: 0 10px; /* Add horizontal margin between icons */
  }
}

@media (max-width: 768px) {
  .home {
    margin-top: 20px;
      flex-direction: column; /* Stacks items vertically on smaller screens */

  .home__social-icon {
    margin-bottom: 0;
    padding-right: var(--mb-4); /* You might need to adjust this value depending on the desired spacing */
  }
  }

  .home__data {
      flex: 1 1 100%; /* Takes full width */
  }

  .home__social {
      flex-direction: row;
      justify-content: center; /* Centers social icons horizontally on smaller screens */
  }
}
/* ===== ABOUT =====*/
/*===== ABOUT =====*/
/*===== ABOUT SECTION STYLING =====*/
.about {
  padding: 50px 0;
  background-color: #f8f9fa; /* Optional: background color for the section */
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Ensures space between columns */
  margin: 0 auto;
  max-width: 1200px; /* Adjusted width for better control */
}

.about__img {
  flex-basis: 40%; /* Controls the initial size of the image container */
  max-width: 500px;
}

.about__img img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded corners for the image */
}

.about__content {
  flex-basis: 60%; /* Controls the initial size of the text container */
  max-width: 700px;
}

.about__text {
  text-align: justify;
  line-height: 1.6;
}

/* Responsive Design for smaller devices */
@media (max-width: 1024px) {
  .about__container {
    flex-direction: column;
  }

  .about__img, .about__content {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}


/* ======== EDUCATION ======= */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.timeline-date {
  margin-bottom: 20px; /* Adjust this to the amount of space you want */
}


.timeline-title {
  background: #f9f9f9;
  color: var(--second-color); /* Adjusted color to match other sections */
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.25em;
  transition: 0.4s;
}


.timeline-title:hover {
  background: var(--first-color); /* Adjusted color to match other sections */
   /* Adjusted color to match other sections */
  color: white;
}





.timeline {
  width: 80%; /* Adjust to your preference */
  margin: 0 auto; /* Horizontal centering */
  text-align: center; /* Add this line */
}

.timeline-date {
  padding-top: 20px;
  padding-bottom: 5px; /* adjust this to increase/decrease the spacing */
}

.education-details {
  padding-top: 5px; /* adjust this to increase/decrease the spacing */
}










/* For smaller screens */
@media only screen and (max-width: 600px) {
  .timeline {
    width: 80%; /* Make it full-width on smaller screens */
  }
}













/* ===== SKILLS =====*/
/* Component-specific styles */

.skills__container {
  background-color: #f9f9f9; /* Light grey background for the container */
  margin: 10px auto; /* Center the container with automatic horizontal margins */
  padding: 10px 0; /* Vertical padding only */
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Use flexbox to center children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.skills__name {
  color: black; /* This sets the text color to white */
}

/* Rest of the styles remain the same */
.skills__subtitle {
  color: black;
  text-align: center; /* Centers the text horizontally within its containing element */
  padding-bottom: 5px; /* Provides space between the text and the border */
  border-bottom: 2px solid white; /* Creates a white bottom border */
  display: block; /* Allows the element to take the full width */
  width: 100%; /* Ensures the element stretches from left to right */
  margin-bottom: 10px; 
}


.skills__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 5 items across */
  gap: 60px; /* This sets the gap between items */
  padding: 20px 90px; 
  justify-content: space-around; 
}

.skill-item {
  /* Removed max-width to allow grid to handle sizing */
  display: flex;
  flex-direction: column;
  justify-self: center; /* Horizontally center the content of the grid cell */
  align-self: center; 
  /* If you want to ensure each item is the same width, you can set a fixed width */
  width: 100%; /* Each item will try to take up 100% of its grid cell */
}

.skills__icon {
  font-size: 2.5rem; /* Adjust icon size */
  margin-bottom: 10px;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .skills__grid {
      grid-template-columns: repeat(4, 1fr); /* 3 items across on smaller screens */
      /* If the total width is less than 5 items + gaps */
      justify-content: space-around; /* This will distribute space evenly */
  }
}

@media screen and (max-width: 480px) {
  .skills__grid {
      grid-template-columns: repeat(2, 1fr); /* 2 items across on very small screens */
      /* If the total width is less than 3 items + gaps */
      justify-content: space-around; /* This will distribute space evenly */
  }
}

.skills__container:hover {
  background-color: #4070F4; /* Replace with the shade of blue you want */
  transition: background-color 0.3s; /* Smooth transition for the color change */
  color: #FFFFFF; 
}

.skills__container:hover .skills__subtitle {
  color: #FFFFFF; /* Changes subtitle text color to white when the container is hovered */
  transition: color 0.3s; /* Smooth transition for text color */
}

.skills__container:hover .skills__name {
  color: white; /* Smooth transition for the transform */
}





/* ================EXPERIENCE============ */
.experience {
  font-family: 'Arial', sans-serif; /* Use a font similar to the one in the image */
  color: #333; /* Standard text color, adjust as needed */
  align-items: center; /* Center items vertically */
  justify-content: center;
}

.experience__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px; /* Adjust the margin as needed */
}

.experience__item {
  background-color: #f8f8f8; /* Light grey background, similar to the image */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Spacing inside the item */
  margin-bottom: 10px; /* Space between experience items */
}

.experience__header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  position: relative;
  justify-content: space-between; /* This will create space between the two columns */
  margin-bottom: 20px;
}

.experience__header::after {
  content: '';
  position: absolute;
  left: 0; /* Align with the left edge of the experience__header */
  right: 0; /* Align with the right edge of the experience__header */
  bottom: -10px; /* Position just below the experience__header */
  border-bottom: 2px solid white; /* White border for the line */
  width: 100%; /* Full width of the container */
}



.experience__position {
  font-size: 18px;
  
/* Adjust size as needed /
font-weight: bold;
color: #000; / Black or a dark color for the position */
}

.experience__company {
font-size: 16px;
color: #555; /* Slightly lighter than the position color */
}

.experience__location {
  justify-self: end; /* Aligns the location to the end of the grid area */
}

.experience__year {
float: right;
justify-self: end;
padding-left: 50px;
font-size: 14px;
color: #666; /* Even lighter for the date /
margin-bottom: 15px; / Space before the description */
}

.experience__description {
list-style-type:disc; /* Removes bullet points */
padding: 0;
margin-top: 10px; /* Adjust the value as needed for top margin */
margin-left: 20px; /* Adjust the value as needed for left margin */
margin-right: 10px;
}

.experience__description li {
font-size: 14px;
line-height: 1.5; /* Spacing between lines /
margin-bottom: 10px; / Spacing between list items */
text-align:justify;
}

.experience__tools {
font-style: italic;
color: #333;
font-size: 14px;
margin-top: 15px; /* Space above the tools section */
}

/* Hover effect for the entire experience item */
.experience__item:hover {
  background-color: var(--first-color); /* Royal blue background on hover */
   /* White text on hover */
}

/* Ensure that the position, company, year, and tools also turn white on hover */
.experience__item:hover .experience__position {
  font-size: calc(18px * 1.2); /* 20% larger than 18px */
  color: #fbbc14;
  font-weight: bold;
}

.experience__item:hover .experience__company{
  font-size: calc(16px * 1.2); /* 20% larger than 16px */
  color: white;
  font-weight: bold;
}

.experience__item:hover .experience__location {
  font-size: calc(16px * 1.2); /* 20% larger than 16px */
  color: #fbbc14;
  font-weight: bold;
}

.experience__item:hover .experience__year {
  font-size: calc(14px * 1.2); /* 20% larger than 14px */
  color: white;
  font-weight: bold;
}

.experience__item:hover .experience__tools {
  font-size: calc(14px * 1.2); /* Assuming tools have the same initial font-size as year */
  color: #fbbc14;
  font-weight: bold;
}

/* Make description text bold on hover */
.experience__item:hover .experience__description li {
  color: white;
}

.experience__timeline:hover .experience__company,
.experience__timeline:hover .experience__year {
  color: var(--first-color
  );
}

/* Make description text bold on hover */
.experience__timeline:hover .experience__description li {
  color: black;
}


.timeline__item {
  position: relative;
  margin-bottom: 20px;
  /* This padding-top should be equal or more than the height of the .timeline__content:before to prevent overlap */
  padding-top: 30px;
}

.timeline__content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1; /* Ensures the content is above the pseudo-element line */
}

.timeline__content:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 10px; /* Adjusted to align with the center of the dot */
  height: 10px;
  width: 10px;
  background: black;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 2; /* Ensures the dot is above the line */
}

.timeline__item:not(:last-child):after {
  content: '';
  position: absolute;
  left: -11px; /* Centers the line with the dot. Adjust as necessary. */
  top: 45px; /* Starts the line at the bottom of the dot */
  height: calc(100% + 20px); /* Height to reach up to the next dot */
  width: 2px; /* Width of the line */
  background-color: #ccc; /* Color of the line */
  z-index: 0; /* Ensures the line is behind the content and dot */
}




/* ===== WORK =====*/
.header-with-icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.header-with-icon:hover {
  color: black; /* This will change the text color to black on hover */
}

.skills__icon--small {
  margin-top: 5px;
  font-size: 20px; /* or any other size */
  margin-left: 12px; /* Adjust the spacing as needed */
}

.work__container{
  row-gap: 2rem;

}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
  
}

.work__img img{
  transition: 1s;
  cursor: pointer;
  margin-bottom: 20px;

}

.work__img img:hover{
  transform: scale(1.1); 

}

.work__menu {
  position: relative;
}

.menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 24px; /* or any appropriate size */
  cursor: pointer;
  z-index: 10;
}

.description-bar {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent; /* Set the default background color to transparent */
  transition: background-color 2s, opacity 1s;
  
  /* Add more styles for your description bar here */
}

.description-bar ul {
  margin-top: 10px; /* Adjust the value as needed for top margin */
  margin-left: 20px; /* Adjust the value as needed for left margin */
  margin-right: 10px;
  list-style-type: disc; /* This creates the bullet point style */
}

.description-bar li {
  margin-bottom: 10px; /* Adds space between bullet points if you have multiple */
  font-size: 12px;
  font-weight: bold;
  text-align: justify; 
}

.scrollable-content {
  position: relative;
  max-height: 220px;
  padding: 10px;
  top: 0; /* Start at the top */
  right: 0;
  left: 0;
}

.work__img.show-description img {
  opacity: 0.2; 
}

.show-description .description-bar {
  display: block;
  background-color: #4070F4; /* This will be the background color after activation */
  color: white;
  /* ... other styles ... */
}

/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}


/*========= PUBLICATIONS========*/

.timeline__content {
  margin-bottom: 5px;
}

.publications__date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block; /* Ensures the date is on its own line */
  width: 90%; /* Same width as .publication__entry for alignment */
  margin-left: auto; /* Center align the date */
  margin-right: auto; /* Center align the date */
}

/* General styles */
.publication__entry {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  border-left: 3px solid var(--first-color);
  margin-bottom: 15px; /* Space between entries */
  width: 90%;
  margin-left: auto; /* Automatically adjust left margin */
  margin-right: auto; /* Automatically adjust right margin */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Smooth transition for transform and background color */
}

.publication__title, .publication__details {
  margin-right: 15px;
}

/* Hover and Focus styles */
.publication__entry:hover, .publication__entry:focus {
  transform: scale(1.05); /* Slightly larger scale on hover/focus */
  background-color: var(--first-color); /* Lighter background on hover/focus */
  font-weight: bold;
  cursor: pointer; /* Changes the cursor to a pointer to indicate clickable */
  outline: none; /* Removes the outline to use only our custom styles */
}

.publication__title, .publication__details, .publication__link {
  transition: color 0.3s ease; /* Smooth color transition */
}

.publication__link {
  color:black;
}

.publication__entry:hover .publication__title, 
.publication__entry:focus .publication__title,
.publication__entry:hover .publication__details, 
.publication__entry:focus .publication__details,
.publication__entry:hover .publication__link, 
.publication__entry:focus .publication__link {
  color: #fbbc14; /* Change text color on hover/focus */
}

.publication__link:hover {
  text-decoration: underline;
}

/* Focus styles when using the keyboard for navigation */
.publication__entry:focus-within {
  border-color: var(--highlight-color); /* Highlight border color when in focus */
}




/*=======  ========== */

/* ===== FOOTER =====*/
.footer{
  background-color: var(--first-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-2);
}

.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__icon:hover{
  color: #fbbc14;
}
.footer__content{
  font-size: 1.2rem;
  margin-bottom: var(--mb-2);
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.footer__content:hover{
  color: #fbbc14;
  transform: scale(1.1);
}

.footer__content .copyBox {
  position: absolute;
    top: -30px; /* adjust as needed */
    left: 80%;
    transform: translateX(-50%);
    display: none;
    padding: 4px 8px;
    background-color: white; /* adjust color as needed */
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  /* Add other styles as needed */
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  
  
  .home__social {
    display: flex;
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  
  
  
  


  

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}




.projects {
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px 0;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: row; /* Set flex direction to row for side-by-side layout */
  flex-wrap: wrap; /* Allow items to wrap onto the next line as needed */
  justify-content: center; /* Center-align the cards within the container */
  align-items: flex-start; /* Align items from the start of the flex line */
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1200px; /* Adjust max width to accommodate three cards */
}

.project-card {
  width: calc(33.33% - 40px); /* Adjust width to allow three cards per row */
  background-color: #ffffff;
  margin: 20px; /* Consistent margin for spacing around cards */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 15px;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.project-card:focus, .project-card:hover {
  background-color:  #4070F4; /* Light grey background when in focus or hovered */
  outline: none; /* Removes the outline on focus */
}

.project-card:focus .project-title a, .project-title:hover, .project-card:focus .iconify {
  color: white; /* White background when in focus or hovered */
  outline: none; /* Removes the outline on focus */
}

.project-card:focus .project-content p, .project-card:hover .project-content p {
  color: white; /* Bright blue background for tags */
  /* White text color for tags */
  transition: color 0.3s; /* Smooth transition for text color */
}

.project-card:focus .project-content p, .project-card:hover .project-content p {
  color: white; /* Bright blue background for tags */
  /* White text color for tags */
  transition: color 0.3s; /* Smooth transition for text color */
}

.project-card:focus .project-tags span, .project-card:hover .project-tags span {
  color: white; /* Bright blue background for tags */
  background-color: #fbbc14; /* White text color for tags */
  transition: color 0.3s; /* Smooth transition for text color */
}

.project-title {
  font-size: 18px; /* Slightly smaller font size for titles */
  color: black; /* Darker font color for readability */
  margin: 10px 0 5px 0; /* Reduce space above and increase below the title */
}

.project-title a {
   /* Color of the link */
  color: black;
  text-decoration: none; /* No underline */
}

.project-card:hover .project-title a
{
  color:white;
}

.project-title a:hover
{
  background-color: #fbbc14;
}

.project-card:hover .iconify {
  color: #fbbc14;
}

.project-card img {
  width: 100%; /* Ensure image takes full width of the card */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove bottom space/gap */
}

.project-content {
  padding: 10px; /* Padding inside the content area */
}



.project-content p {
  font-size: 14px; /* Smaller font size for compact look */
  color: #666; /* Lighter text for the description */
  margin-bottom: 10px; /* Space before tags */
}



.project-tags span {
  display: inline-block;
  background-color: #4070F4; /* Bright blue background for tags */
  color: #ffffff; /* White text color for tags */
  border-radius: 5px; /* Rounded edges for tags */
  padding: 5px 10px; /* Padding inside tags */
  margin-right: 5px; /* Space between tags */
  margin-bottom: 5px;
  font-size: 12px; /* Smaller font size for tags */
}

.project-tags span:last-child {
  margin-right: 0; /* No margin on the last tag */
}

.view-full-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; /* Dark blue background */
  color: #FFFFFF; /* White text */
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 16px;
  text-decoration: none; /* Remove underline from link */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
  width: fit-content;
}

.view-full-list-btn i {
  margin-left: 10px; /* Space between text and icon */
}

.view-full-list-btn:hover {
  background-color: var(--first-color); /* Slightly lighter blue on hover */
  color: #fbbc14; /* Light grey text on hover */
}


@media (max-width: 992px) {
  .project-card {
    width: calc(50% - 40px); /* Adjust for two cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 100%; /* Full width on smaller screens */
    margin: 20px 0; /* Adjust margin to only top and bottom */
  }
}


