/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --sjsu-dark-blue: #0055A2;
  --sjsu-yellow: #F2A900;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--sjsu-dark-blue);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--sjsu-dark-blue);
  
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--sjsu-dark-blue);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--sjsu-dark-blue);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--sjsu-yellow);
}
.nav__logo {
  font-size: 1.0em;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  animation: colorChange 2s infinite;
  white-space: nowrap; /* Prevent text wrapping */
}

.nav__logo .location-icon {
  margin-right: 0.5em;
}

@keyframes colorChange {
  0% {
      color: var(--sjsu-yellow); /* Red */
  }
  50% {
      color: var(--sjsu-dark-blue) /* Blue */
  }
  100% {
      color: var(--sjsu-yellow); /* Red */
  }
}

.nav__toggle{
  color: var(--sjsu-dark-blue);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--sjsu-dark-blue);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

.home {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 110vh; /* Take full viewport height */
  padding: 40px 20px; /* Add padding to avoid content touching the edges */
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: var(--sjsu-yellow);
}

.home__title-color {
  color: var(--sjsu-dark-blue);
  
}

.home__social {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center social icons if column direction */
  margin-top: 20px; /* Add some space between the data and social icons */
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--sjsu-dark-blue);
  transition: transform 0.3s ease, color 0.3s ease;
}

.home__social-icon:hover {
  color: var(--sjsu-yellow);
  transform: translateY(-4px); /* Moves the icon up by 5 pixels */
}


/* Base styles */
.quote-container {
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}

.quote__title {
  font-size: 32px;
  font-weight: bold;
  margin-right: 20px;
}

.quote__subtitle {
  font-size: 15px;
  font-style: italic;
}

.home__quote {
  background-color: var(--sjsu-dark-blue);
  color: white;
  padding: 20px;
  
  margin: 20px 0;
  max-width: 800px;
}

.rating__score {
  font-weight: bold;
  color: var(--sjsu-yellow);
  text-align: right;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
}

.quote__text {
  font-size: 18px;
  line-height: 1.6;
  position: relative;
  padding: 20px 80px 20px 60px;
  margin-top: 20px;
}

.quote__text::before, .quote__text::after {
  font-size: 80px;
  color: var(--sjsu-yellow);
  position: absolute;
  line-height: 0.6;
}

.quote__text::before {
  content: '“';
  top: 10px;
  left: 10px;
}

.quote__text::after {
  content: '”';
  bottom: -10px;
  right: 50px;
}

/* Media Queries for Tablets */
@media (max-width: 768px) {
  .quote__title {
    font-size: 24px; /* Smaller font size for smaller screens */
  }

  .quote__subtitle {
    font-size: 13px;
  }

  .home__quote {
    padding: 15px;
  }

  

  .quote__text {
    font-size: 16px;
    padding: 15px 60px 15px 40px;
  }

  .quote__text::before, .quote__text::after {
    font-size: 60px;
  }
}

/* Media Queries for Smartphones */
@media (max-width: 480px) {
  .quote-container {
    flex-direction: column; /* Stack the elements vertically */
    padding: 10px 20px;
  }

  .quote__title {
    font-size: 20px;
    margin-right: 0; /* Remove margin for stacked layout */
    margin-bottom: 10px; /* Add space between title and subtitle */
  }

  .quote__subtitle {
    font-size: 12px;
  }

  .home__quote {
    padding: 10px;
  }

  

  .quote__text {
    font-size: 14px;
    padding: 10px 40px 10px 30px;
  }

  .quote__text::before, .quote__text::after {
    font-size: 40px;
  }
}



.typing {
  font-size: 20px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  .home {
    height: auto; /* Let content determine height */
    padding-top: 20px; /* Add some padding on top for smaller screens */
  }

  .home__social {
    flex-direction: row;
    justify-content: center; /* Centers social icons horizontally on smaller screens */
  }

  .home__social-icon {
    margin: 0 10px; /* Add horizontal margin between icons */
  }
}

@media (max-width: 768px) {
  .home {
    margin-top: 20px;
      flex-direction: column; /* Stacks items vertically on smaller screens */

  .home__social-icon {
    margin-bottom: 0;
    padding-right: var(--mb-4); /* You might need to adjust this value depending on the desired spacing */
  }
  }

  .home__data {
      flex: 1 1 100%; /* Takes full width */
  }

  .home__social {
      flex-direction: row;
      justify-content: center; /* Centers social icons horizontally on smaller screens */
  }
}

/*===== ABOUT SECTION STYLING =====*/
.about {
  padding: 50px 20px; /* Added padding to the sides */
  background-color: white; /* Optional: background color for the section */
  max-width: 1200px; /* Limits the section width */
  margin: 0 auto; /* Centers the section */
  box-shadow: 
  0 8px 16px rgba(0, 85, 162, 0.8), /* SJSU Blue, more vivid */
  0 12px 24px rgba(242, 169, 0, 0.8); /* SJSU Gold, more prominent */
  background-size: 400% 400%;
  animation: GradientBackground 15s ease infinite;
   
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Ensures space between columns */
  
}

.about__img {
  flex: 1 1 40%; /* Flex-grow, flex-shrink, and flex-basis for responsiveness */
  max-width: 500px;
}

.about__img img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded corners for the image */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow to the image */
}

.about__content {
  flex: 1 1 55%; /* Flex-grow, flex-shrink, and flex-basis for responsiveness */
  max-width: 700px;
}

.about__text {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about__metrics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.metric {
  text-align: center;
  font-size: 24px;
  color: #333; /* Adjust the color to fit your website's theme */
}

@keyframes colorSwitch {
  0%, 100% {
    color: var(--sjsu-dark-blue); /* Start and end color */
  }
  50% {
    color: var(--sjsu-yellow); /* Color at the halfway point */
  }
}




.metric__number {
  display: block;
  font-size: 40px;
  font-weight: bold;
  animation: colorSwitch 2s infinite;
  /* This is the yellow color from your subtitle */
}

.metric__label {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--sjsu-dark-blue); /* Lighter grey text for the metric labels */
}



/* Media query for smaller screens, e.g., mobile devices */
@media (max-width: 768px) {
  .metric__number {
    font-size: 30px; /* Reduced font size on smaller screens */
  }

  .metric__label {
    font-size: 16px; /* Slightly smaller font size for labels on smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .metric__number {
    font-size: 24px; /* Further reduced font size for very small screens */
  }

  .metric__label {
    font-size: 14px; /* Further reduction for very small screens */
  }
}


/* Responsive Design for smaller devices */
@media (max-width: 1024px) {
  .about{
    margin: 20px 10px;
  }
  .about__container {
    flex-direction: column;
    align-items: center;
    
  }

  .about__img, .about__content {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

/* ======== EDUCATION ======= */
/* ======== EDUCATION ======= */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.timeline-date {
  font-size: 1.25em;
  margin-bottom: 20px; /* Adjust this to the amount of space you want */
  font-weight: bold;
  color: var(--sjsu-yellow);
}



.timeline-title {
  background: white;
  color: var(--sjsu-dark-blue); /* Adjusted color to match other sections */
  font-weight: bold;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.25em;
  transition: 0.4s;
  box-shadow: 
  0 8px 16px rgba(0, 85, 162, 0.8), /* SJSU Blue, more vivid */
  0 12px 24px rgba(242, 169, 0, 0.8); /* SJSU Gold, more prominent */
  background-size: 400% 400%;
  animation: GradientBackground 15s ease infinite;
  
}


.timeline-title:hover {
  background: var(--sjsu-dark-blue); /* Adjusted color to match other sections */
   /* Adjusted color to match other sections */
  color: var(--sjsu-yellow);
}






.timeline {
  width: 80%; /* Adjust to your preference */
  margin: 0 auto; /* Horizontal centering */
  text-align: center; /* Add this line */
}

.timeline-date {
  padding-top: 20px;
  padding-bottom: 5px; /* adjust this to increase/decrease the spacing */
}

.education-details {
  padding-top: 5px; /* adjust this to increase/decrease the spacing */
}









.skills__subtitle {
  color: var(--sjsu-dark-blue);
  text-align: center; /* Ensures text is centered */
  padding-bottom: 5px; /* Provides space between the text and the border */
  border-bottom: 2px solid white; /* Creates a visible bottom border */
  display: block; /* Ensures the element behaves as a block-level element */
  width: 100%; /* Makes sure the element spans the full width */
  margin: auto; /* Centers the element within its container if needed */
  margin-bottom: 10px; 
}




/* Component-specific styles */
.skills__container {
  background-color: white; /* Light grey background for the container */
  margin: 10px auto; /* Center the container with automatic horizontal margins */
  margin-bottom: 40px;
  padding: 10px 0; /* Vertical padding only */
  
  display: flex; /* Use flexbox to center children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  box-shadow:
    0 8px 16px rgba(0, 85, 162, 0.8), /* SJSU Blue, more vivid */
    0 12px 24px rgba(242, 169, 0, 0.8); /* SJSU Gold, more prominent */
  background-size: 400% 400%;
  animation: GradientBackground 15s ease infinite;
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjusted from 8 to 3 columns for better spacing */
  gap: 20px; /* Reduced gap for better spacing */
  padding: 20px; /* Uniform padding */
  justify-content: space-around; 
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-self: center; /* Horizontally center the content of the grid cell */
  align-self: center;
}

.skills__icon {
  font-size: 2.5rem; /* Adjust icon size */
  margin-bottom: 10px;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .skills__grid {
      grid-template-columns: repeat(2, 1fr); /* Adjusted to 2 columns */
      gap: 15px; /* Reduced gap for smaller screens */
  }
}



.skills__container:hover {
  background-color: var(--sjsu-dark-blue);
  transition: background-color 0.3s;
  color: #FFFFFF;
}

.skills__container:hover .skills__subtitle {
  color: var(--sjsu-yellow);
  transition: color 0.3s;
}

.skills__container:hover .skills__name {
  color: white;
}




/* ================EXPERIENCE============ */
.experience {
  font-family: 'Arial', sans-serif; /* Use a font similar to the one in the image */
  color: var(--sjsu-dark-blue); /* Standard text color, adjust as needed */
  align-items: center; /* Center items vertically */
  justify-content: center;
}

.experience__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  
  box-shadow: 
  0 8px 16px rgba(0, 85, 162, 0.8), /* SJSU Blue, more vivid */
  0 12px 24px rgba(242, 169, 0, 0.8); /* SJSU Gold, more prominent */
  background-size: 400% 400%;
  animation: GradientBackground 15s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.experience__item {
  background-color: white; /* Light grey background, similar to the image */
  
  padding: 20px; /* Spacing inside the item */
  margin-bottom: 10px; /* Space between experience items */
}

.experience__header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  position: relative;
  justify-content: space-between; /* This will create space between the two columns */
  margin-bottom: 20px;
}

.experience__header::after {
  content: '';
  position: absolute;
  left: 0; /* Align with the left edge of the experience__header */
  right: 0; /* Align with the right edge of the experience__header */
  bottom: -10px; /* Position just below the experience__header */
  border-bottom: 2px solid var(--sjsu-yellow); /* White border for the line */
  width: 100%; /* Full width of the container */
}



.experience__position {
  font-size: 18px;
  
/* Adjust size as needed /
font-weight: bold;
color: #000; / Black or a dark color for the position */
}

.experience__company {
font-size: 16px;
color: var(--sjsu-yellow); /* Slightly lighter than the position color */
}

.experience__location {
  justify-self: end; /* Aligns the location to the end of the grid area */
  font-weight: bold;
}

.experience__year {
float: right;
justify-self: end;
padding-left: 50px;
font-size: 14px;
color: var(--sjsu-yellow); /* Even lighter for the date /
margin-bottom: 15px; / Space before the description */
}

.experience__description {
list-style-type:disc; /* Removes bullet points */
padding: 0;
margin-top: 10px; /* Adjust the value as needed for top margin */
margin-left: 20px; /* Adjust the value as needed for left margin */
margin-right: 10px;
}

.experience__description li {
font-size: 14px;
line-height: 1.5; /* Spacing between lines /
margin-bottom: 10px; / Spacing between list items */
text-align:justify;
}

.separator-line {
  border-bottom: 2px solid var(--sjsu-yellow); /* The line is black and 2px thick */
  margin: 20px 0; /* Space above and below the line */
}

/* Hover effect for the entire experience item */
.experience__item:hover {
  background-color: var(--sjsu-dark-blue); /* Royal blue background on hover */
   /* White text on hover */
}

/* Ensure that the position, company, year, and tools also turn white on hover */
.experience__item:hover .experience__position {
  font-size: calc(18px * 1.2); /* 20% larger than 18px */
  color: var(--sjsu-yellow);
  font-weight: bold;
}





.experience__item:hover .experience__company{
  font-size: calc(16px * 1.2); /* 20% larger than 16px */
  color: var(--sjsu-yellow);
  font-weight: bold;
}

.experience__item:hover .experience__location {
  font-size: calc(16px * 1.2); /* 20% larger than 16px */
  color: var(--sjsu-yellow);
  font-weight: bold;
}

.experience__item:hover .experience__year {
  font-size: calc(14px * 1.2); /* 20% larger than 14px */
  color: var(--sjsu-yellow);
  font-weight: bold;
}

.experience__item:hover .experience__tools {
  font-size: calc(14px * 1.2); /* Assuming tools have the same initial font-size as year */
  color: var(--sjsu-yellow);
  font-weight: bold;
}

/* Make description text bold on hover */
.experience__item:hover .experience__description li {
  color: white;
}

.experience__timeline:hover .experience__company,
.experience__timeline:hover .experience__year
{ /* The line is black and 2px thick */
  color: white;
}
.experience__timeline:hover .separator-line {
  border-bottom: 2px solid white;
}

/* Make description text bold on hover */
.experience__timeline:hover .experience__description li {
  color: white;
}





.timeline__item {
  position: relative;
  margin-bottom: 20px;
  /* This padding-top should be equal or more than the height of the .timeline__content:before to prevent overlap */
  padding-top: 30px;
  color: white;
}

.timeline__content {
  position: relative;
  background: var(--sjsu-dark-blue);
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1; /* Ensures the content is above the pseudo-element line */
  border: 2px solid #F2A900;
  
}

.timeline__content:before {
  content: '';
  position: absolute;
  left: -17px;
  top: 25px; /* Adjusted to align with the center of the dot */
  height: 10px;
  width: 10px;
  background: var(--sjsu-yellow);
  border: 2px solid white;
  border-radius: 50%;
  z-index: 2; /* Ensures the dot is above the line */
}

.timeline__item:not(:last-child):after {
  content: '';
  position: absolute;
  left: -11px; /* Centers the line with the dot. Adjust as necessary. */
  top: 60px; /* Starts the line at the bottom of the dot */
  height: calc(100% + 20px); /* Height to reach up to the next dot */
  width: 2px; /* Width of the line */
  background-color: var(--sjsu-yellow); /* Color of the line */
  z-index: 0; /* Ensures the line is behind the content and dot */
}

.timeline__content:hover{
  background: var(--sjsu-yellow);
}

/* Media queries for reducing font sizes on smaller screens */
@media (max-width: 1024px) { /* For tablets and large phones */
  .experience__position {
    font-size: 16px;
  }
  .experience__company,
  .experience__location,
  .experience__year {
    font-size: 14px;
  }
  .experience__description li {
    font-size: 13px;
  }
}

@media (max-width: 768px) { /* For small tablets and large phones */
  .experience__position {
    font-size: 15px;
  }
  .experience__company,
  .experience__location,
  .experience__year {
    font-size: 13px;
  }
  .experience__description li {
    font-size: 12px;
  }
}

@media (max-width: 480px) { /* For small phones */
  .experience__position {
    font-size: 14px;
  }
  .experience__company,
  .experience__location,
  .experience__year {
    font-size: 12px;
  }
  .experience__description li {
    font-size: 11px;
  }
}




/* ===== WORK =====*/
.header-with-icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.header-with-icon:hover {
  color: black; /* This will change the text color to black on hover */
}

.skills__icon--small {
  margin-top: 5px;
  font-size: 20px; /* or any other size */
  margin-left: 12px; /* Adjust the spacing as needed */
}

.work__container{
  row-gap: 2rem;

}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
  
}

.work__img img{
  transition: 1s;
  cursor: pointer;
  margin-bottom: 20px;

}

.work__img img:hover{
  transform: scale(1.1); 

}

.work__menu {
  position: relative;
}

.menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 24px; /* or any appropriate size */
  cursor: pointer;
  z-index: 10;
}

.description-bar {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent; /* Set the default background color to transparent */
  transition: background-color 2s, opacity 1s;
  
  /* Add more styles for your description bar here */
}

.description-bar ul {
  margin-top: 10px; /* Adjust the value as needed for top margin */
  margin-left: 20px; /* Adjust the value as needed for left margin */
  margin-right: 10px;
  list-style-type: disc; /* This creates the bullet point style */
}

.description-bar li {
  margin-bottom: 10px; /* Adds space between bullet points if you have multiple */
  font-size: 12px;
  font-weight: bold;
  text-align: justify; 
}

.scrollable-content {
  position: relative;
  max-height: 220px;
  padding: 10px;
  top: 0; /* Start at the top */
  right: 0;
  left: 0;
}

.work__img.show-description img {
  opacity: 0.2; 
}

.show-description .description-bar {
  display: block;
  background-color: #0055A2; /* This will be the background color after activation */
  color: white;
  /* ... other styles ... */
}

/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--sjsu-dark-blue);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}


/*========= PUBLICATIONS========*/

.timeline__content1 {
  margin-bottom: 5px;
}

.publications__date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block; /* Ensures the date is on its own line */
  width: 90%; /* Same width as .publication__entry for alignment */
  margin-left: auto; /* Center align the date */
  margin-right: auto; /* Center align the date */
}

.publications {
  margin-bottom: 50px; /* Adjust the size as needed */
}

/* General styles */
.publication__entry {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-left: 3px solid var(--sjsu-dark-blue);
  margin-bottom: 25px; /* Space between entries */
  width: 90%;
  margin-left: auto; /* Automatically adjust left margin */
  margin-right: auto; /* Automatically adjust right margin */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Smooth transition for transform and background color */
  box-shadow: 
  0 8px 16px rgba(0, 85, 162, 0.8), /* SJSU Blue, more vivid */
  0 12px 24px rgba(242, 169, 0, 0.8); /* SJSU Gold, more prominent */
}

.publication__title, .publication__details {
  margin-right: 15px;
}

/* Hover and Focus styles */
.publication__entry:hover, .publication__entry:focus {
  transform: scale(1.05); /* Slightly larger scale on hover/focus */
  background-color: var(--sjsu-dark-blue); /* Lighter background on hover/focus */
  font-weight: bold;
  cursor: pointer; /* Changes the cursor to a pointer to indicate clickable */
  outline: none; /* Removes the outline to use only our custom styles */
}

.publication__title, .publication__details, .publication__link {
  transition: color 0.3s ease; /* Smooth color transition */
}

.publication__link {
  color:var(--sjsu-dark-blue);
}

.publication__entry:hover .publication__title, 
.publication__entry:focus .publication__title,
.publication__entry:hover .publication__details, 
.publication__entry:focus .publication__details,
.publication__entry:hover .publication__link, 
.publication__entry:focus .publication__link {
  color: var(--sjsu-yellow); /* Change text color on hover/focus */
}

.publication__link:hover {
  text-decoration: underline;
}

/* Focus styles when using the keyboard for navigation */
.publication__entry:focus-within {
  border-color: var(--highlight-color); /* Highlight border color when in focus */
}


.publication__link {
  position: relative;
  display: inline-block;
}

.preview {
  display: none;
  position: absolute;
  margin-top: 5px;
  top: 100%;
  right: 0; /* Adjusted to move slightly right */
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 100;
  transform: translateX(-20%); /* Adjust horizontally to align as desired */
}

.publication__entry:hover .preview {
  display: block;
}

.preview__image {
  width: 100%;
  height: auto;
  display: block;
}

.preview__details {
  padding: 5px;
  
}

.preview__title {
  font-size: 0.75em;
  font-weight: bold;
  position: relative; /* Confirms that positioning is relative */
  text-align: center;
  display: block; /* Ensures that the container spans the full width */
}

.preview__subtitle {
  font-size: 0.5em; /* Adjusted for visibility */
  position: relative;
  display: inline-flex; /* This will help align items inline and center them */
  align-items: justify;
}

.preview__button {
  position: absolute;
  bottom: 10px;  /* Position the button 10 pixels from the bottom */
  right: 10px;   /* Position the button 10 pixels from the right */
  font-size: 0.75em;  /* Adjust the font size as needed */
  padding: 8px 12px;  /* Adjust padding to size the button appropriately */
  background-color: var(--sjsu-dark-blue); /* Ensure this color variable is defined */
  color: white;
  border: none;
  border-radius: 20px;  /* Rounded corners for the button */
  cursor: pointer;
  display: none; /* Button is initially hidden, shown on a specific event */
  transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
}

.preview__image-container:hover  {
  display: block; /* Show the button when the container is hovered */
}

.preview__button:hover{
  color:var(--sjsu-yellow);
  font-weight: bold;
}


.copy-icon {
  position: absolute;
  top: 0; /* Aligns the icon to the top of the container */
  right: -5px; /* Aligns the icon to the right of the container */
  cursor: pointer;
  color: var(--sjsu-yellow);
  font-size: 1.5em;
  line-height: normal; /* Ensures the icon aligns vertically centered if needed */
}

.tooltip-text {
  position: absolute;
  bottom: -5px;
  left: 100%;
  font-size: 0.75em;
  transform: translateX(-50%);
  display: none;
  background-color: var(--sjsu-dark-blue);
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  white-space: nowrap;
}

.copy-icon:hover + .tooltip-text {
  display: block;
}


.info-icon {
  font-size: 1.5em;
  margin-right: 10px; /* Provides spacing to the right of the icon */
  color: var(--sjsu-yellow); /* Ensure this color is defined or replace with a hex code */
}




i.fa-eye {
  margin-right: 5px; /* Adjust the pixel value to the gap you prefer */
}
i.fa-circle-info{
  margin-right: 5px;
}
i.fa-copy{
  align-items: right;
  margin-left: 5px;
}
/*=======  ========== */

/* ===== FOOTER =====*/
.footer{
  background-color: var(--sjsu-dark-blue);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-2);
}

.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__icon i.bx-x {
  font-size: 24px; /* Adjust the size as needed */
  color: #000; /* Adjust the color as needed */
}

.footer__icon:hover{
  color: var(--sjsu-yellow);
}
.footer__content{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.footer__content:hover{
  color: var(--sjsu-yellow);
  transform: scale(1.1);
}

.footer__content .copyBox {
  position: absolute;
    top: -30px; /* adjust as needed */
    left: 80%;
    transform: translateX(-50%);
    display: none;
    padding: 4px 8px;
    background-color: white; /* adjust color as needed */
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  /* Add other styles as needed */
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--sjsu-dark-blue);
  }

  
  
  .home__social {
    display: flex;
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  
  
  
  


  

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}


/*Projects*/

.projects {
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px 0;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: row; /* Set flex direction to row for side-by-side layout */
  flex-wrap: wrap; /* Allow items to wrap onto the next line as needed */
  justify-content: center; /* Center-align the cards within the container */
  align-items: flex-start; /* Align items from the start of the flex line */
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1200px; /* Adjust max width to accommodate three cards */
  
}

.project-card {
  width: calc(33.33% - 40px); /* Adjust width to allow three cards per row */
  margin: 20px; /* Consistent margin for spacing around cards */
  overflow: hidden;
  padding: 15px;
  transition: background-color 0.3s; /* Smooth transition for background color */
  background: white;
  box-shadow: 
    0 8px 16px rgba(0, 85, 162, 0.8), /* SJSU Blue, more vivid */
    0 12px 24px rgba(242, 169, 0, 0.5); /* SJSU Gold, more prominent */
  background-size: 400% 400%;
  animation: GradientBackground 15s ease infinite;
  
}





.project-card:focus, .project-card:hover {
  background-color:  #0055A2; /* Light grey background when in focus or hovered */
  outline: none; /* Removes the outline on focus */
}

.project-card:focus .project-title a, .project-title:hover, .project-card:focus .iconify {
  color: white; /* White background when in focus or hovered */
  outline: none; /* Removes the outline on focus */
}

.project-card:focus .project-content p, .project-card:hover .project-content p {
  color: white; /* Bright blue background for tags */
  /* White text color for tags */
  transition: color 0.3s; /* Smooth transition for text color */
}

.project-card:focus .project-content p, .project-card:hover .project-content p {
  color: white; /* Bright blue background for tags */
  /* White text color for tags */
  transition: color 0.3s; /* Smooth transition for text color */
}

.project-card:focus .project-tags span, .project-card:hover .project-tags span {
  color: white; /* Bright blue background for tags */
  background-color: var(--sjsu-yellow); /* White text color for tags */
  transition: color 0.3s; /* Smooth transition for text color */
}

.project-title a {
  display: inline-block;
  position: relative;
  color: inherit; /* Optional: Ensures the link color matches the text */
}

.project-title a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease; /* Animate both width and left properties */
}

.project-title a:hover::after {
  width: 100%;
  left: 0;
}

.project-title a::after {
  background-color: transparent; /* Starts as transparent */
  transition: width 0.5s ease, left 0.5s ease, background-color 0.5s ease; /* Include background-color in the transition */
}

.project-title a:hover::after {
  background-color: currentColor; /* Color appears on hover */
}



.project-card:hover .project-title a
{
  color:var(--sjsu-yellow);
  
}

.project-card:hover .iconify {
  color: var(--sjsu-yellow);
}

.project-card img {
  width: 100%; /* Ensure image takes full width of the card */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove bottom space/gap */
}

.project-content {
  padding: 10px; /* Padding inside the content area */
}



.project-content p {
  font-size: 14px; /* Smaller font size for compact look */
  color: #666; /* Lighter text for the description */
  margin-bottom: 10px; /* Space before tags */
}



.project-tags span {
  display: inline-block;
  background-color: #0055A2; /* Bright blue background for tags */
  color: #ffffff; /* White text color for tags */
  border-radius: 5px; /* Rounded edges for tags */
  padding: 5px 10px; /* Padding inside tags */
  margin-right: 5px; /* Space between tags */
  margin-bottom: 5px;
  font-size: 12px; /* Smaller font size for tags */
}

.project-tags span:last-child {
  margin-right: 0; /* No margin on the last tag */
}

.view-full-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sjsu-dark-blue); /* Dark blue background */
  color: #FFFFFF; /* White text */
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 16px;
  text-decoration: none; /* Remove underline from link */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
  width: fit-content;
}

.view-full-list-btn i {
  margin-left: 10px; /* Space between text and icon */
}

.view-full-list-btn:hover {
  background-color: var(--sjsu-dark-blue); /* Slightly lighter blue on hover */
  color: var(--sjsu-yellow); /* Light grey text on hover */
}


@media (max-width: 992px) {
  .project-card {
    width: calc(50% - 40px); /* Adjust for two cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 100%; /* Full width on smaller screens */
    margin: 20px 15px; /* Adjust margin to only top and bottom */
  }
}



/*Upward Icon*/
.upward-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--sjsu-dark-blue);
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.upward-icon:hover {
  color: var(--sjsu-yellow);
}



/*Contact form*/
.message-icon {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Aligned to the left */
  background-color: var(--sjsu-dark-blue);
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.message-icon:hover {
  color: var(--sjsu-yellow);
}


.contact-form {
  position: fixed;
  bottom: 70px; /* Positioning it above the message icon */
  left: 20px; /* Aligning with the left side of the message icon */
  background-color: var(--sjsu-dark-blue);
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px; /* Adjust based on your design */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure it's on top */
}

.form-header {
  font-family: var(--body-font);
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding-right: 30px; /* Provide enough space for the close button */
}

.form-header button {

  position: absolute;
  right: -35px; /* Positioning it outside the right edge of the form */
  top: -35px; /* Positioning it slightly above the form */
  width: 35px;
  height: 35px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: var(--sjsu-yellow); /* Red background for visibility */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-header button:hover{
  color: var(--sjsu-dark-blue);  
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-family: var(--body-font);
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* Light background for inputs for better readability */
    color: var(--sjsu-dark-blue); /* Dark text for better contrast */
    font-weight: bold;
}

.contact-form button[type="submit"] {
    font-family: var(--body-font);
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--sjsu-yellow); /* Using the SJSU yellow for the button */
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.contact-form button[type="submit"]:hover{
  color: var(--sjsu-dark-blue); 
} 


/*Toast Container*/
#toast-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10000;
  display: none; /* Initially hidden */
}

#toast-message {
  background-color: var(--sjsu-dark-blue);
  color: var(--sjsu-yellow);
  padding: 10px 20px;
  border-radius: 5px;
  
}