/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: black;
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  width: 295px;
  margin-bottom: var(--mb-2);
}

.typing{
  font-size: 20px;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0%{opacity:1;}
  50%{opacity:0;}
  100%{opacity:1;}
}



/* Modified Code for Smaller Screens */
@media screen and (max-width: 768px) {
  .home {
    height: auto; /* Reset the height so that it fits all content */
    display: grid;
    grid-template-areas:
      "data"
      "img";
    grid-template-rows: auto auto; /* Change this as required */
    row-gap: 20px; /* Provide space between the data and image */
  }

  .home__data {
    grid-area: data;
    align-self: center;
  }

  .home__img {
    position: static;
    grid-area: img;
    width: 80%;
    align-self: center;
    margin: 20px auto;
  }
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  .home__social {
    flex-direction: row;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4); /* You might need to adjust this value depending on the desired spacing */
  }
}



h5{
  color: var(--first-color);

}
h5:hover{
  position:relative;
}
h5:hover::after{
 position: absolute;
  content: "";
  width: 50%;
  height: 0.13rem;
  left: 82px;
  top: 1.75rem;
  background-color: var(--first-color);
}

/*BUTTONS*/
button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
}
/* ===== ABOUT =====*/
.about
.about__container{
  row-gap: 2rem;
  text-align: center;
  padding-top: 100px;
}
.about__subtitle {
  margin: 2% 15%;
}

.about__text {
  align-self: center;
  margin: 2% 15%; /* Default margin for larger screens */
}

/* When the screen size is 768px or less, decrease the margins */
@media screen and (max-width: 768px) {
  .about__text {
    margin: 1.5% 10%;
  }
}

/* When the screen size is 480px or less, decrease the margins further */
@media screen and (max-width: 480px) {
  .about__text {
    margin: 1% 10%;
  }
}

/* ======== EDUCATION ======= */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.timeline-date {
  margin-bottom: 20px; /* Adjust this to the amount of space you want */
}


.timeline-title {
  background: #f9f9f9;
  color: var(--second-color); /* Adjusted color to match other sections */
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.25em;
  transition: 0.4s;
}


.timeline-title:hover {
  background: var(--first-color); /* Adjusted color to match other sections */
  color: #fff; /* Adjusted color to match other sections */
}

.timeline-title::after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.timeline-title.active::after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  float: right;
  margin-left: 5px;
}

.timeline {
  width: 80%; /* Adjust to your preference */
  margin: 0 auto; /* Horizontal centering */
  text-align: center; /* Add this line */
}

.timeline-date {
  padding-top: 20px;
  padding-bottom: 5px; /* adjust this to increase/decrease the spacing */
}

.education-details {
  padding-top: 5px; /* adjust this to increase/decrease the spacing */
}

.carousel {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  margin-bottom: 4%;
  justify-content: center; 
  align-items: center; 
}

.carousel-list {
  display: inline-flex;
  animation: scroll 25s linear infinite;
  flex-wrap: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-240px * 7));
  }
}


.carousel-item {
  flex: 0 0 auto;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover {
  background-color: var(--first-color);
  color: white;
  transform: scale(1.1); /* slightly increase size on hover */
}





/* For smaller screens */
@media only screen and (max-width: 600px) {
  .timeline {
    width: 80%; /* Make it full-width on smaller screens */
  }
}













/* ===== SKILLS =====*/
/* Component-specific styles */

.skills__container {
  background-color: #f9f9f9; /* Light grey background for the container */
  margin: 10px auto; /* Center the container with automatic horizontal margins */
  padding: 10px 0; /* Vertical padding only */
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Use flexbox to center children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.skills__name {
  color: black; /* This sets the text color to white */
}

/* Rest of the styles remain the same */
.skills__subtitle {
  color: black;
  text-align: center; /* Centers the text horizontally within its containing element */
  padding-bottom: 5px; /* Provides space between the text and the border */
  border-bottom: 2px solid white; /* Creates a white bottom border */
  display: block; /* Allows the element to take the full width */
  width: 100%; /* Ensures the element stretches from left to right */
  margin-bottom: 10px; 
}


.skills__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 5 items across */
  gap: 60px; /* This sets the gap between items */
  padding: 20px 90px; 
  justify-content: space-around; 
}

.skill-item {
  /* Removed max-width to allow grid to handle sizing */
  display: flex;
  flex-direction: column;
  justify-self: center; /* Horizontally center the content of the grid cell */
  align-self: center; 
  /* If you want to ensure each item is the same width, you can set a fixed width */
  width: 100%; /* Each item will try to take up 100% of its grid cell */
}

.skills__icon {
  font-size: 2.5rem; /* Adjust icon size */
  margin-bottom: 10px;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .skills__grid {
      grid-template-columns: repeat(4, 1fr); /* 3 items across on smaller screens */
      /* If the total width is less than 5 items + gaps */
      justify-content: space-around; /* This will distribute space evenly */
  }
}

@media screen and (max-width: 480px) {
  .skills__grid {
      grid-template-columns: repeat(2, 1fr); /* 2 items across on very small screens */
      /* If the total width is less than 3 items + gaps */
      justify-content: space-around; /* This will distribute space evenly */
  }
}

.skills__container:hover {
  background-color: #4070F4; /* Replace with the shade of blue you want */
  transition: background-color 0.3s; /* Smooth transition for the color change */
  color: #FFFFFF; 
}

.skills__container:hover .skills__subtitle {
  color: #FFFFFF; /* Changes subtitle text color to white when the container is hovered */
  transition: color 0.3s; /* Smooth transition for text color */
}

.skills__container:hover .skills__name {
  color: white; /* Smooth transition for the transform */
}





/* ================EXPERIENCE============ */
.experience {
  font-family: 'Arial', sans-serif; /* Use a font similar to the one in the image */
  color: #333; /* Standard text color, adjust as needed */
}

.experience__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px; /* Adjust the margin as needed */
}

.experience__item {
  background-color: #f8f8f8; /* Light grey background, similar to the image */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Spacing inside the item */
  margin-bottom: 10px; /* Space between experience items */
}

.experience__header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  position: relative;
  justify-content: space-between; /* This will create space between the two columns */
  margin-bottom: 20px;
}

.experience__header::after {
  content: '';
  position: absolute;
  left: 0; /* Align with the left edge of the experience__header */
  right: 0; /* Align with the right edge of the experience__header */
  bottom: -10px; /* Position just below the experience__header */
  border-bottom: 2px solid white; /* White border for the line */
  width: 100%; /* Full width of the container */
}



.experience__position {
  font-size: 18px;
  
/* Adjust size as needed /
font-weight: bold;
color: #000; / Black or a dark color for the position */
}

.experience__company {
font-size: 16px;
color: #555; /* Slightly lighter than the position color */
}

.experience__location {
  justify-self: end; /* Aligns the location to the end of the grid area */
}

.experience__year {
justify-self: end;
padding-left: 50px;
font-size: 14px;
color: #666; /* Even lighter for the date /
margin-bottom: 15px; / Space before the description */
}

.experience__description {
list-style-type:disc; /* Removes bullet points */
padding: 0;
margin-top: 10px; /* Adjust the value as needed for top margin */
margin-left: 20px; /* Adjust the value as needed for left margin */
margin-right: 10px;
}

.experience__description li {
font-size: 14px;
line-height: 1.5; /* Spacing between lines /
margin-bottom: 10px; / Spacing between list items */
text-align:justify;
}

.experience__tools {
font-style: italic;
color: #333;
font-size: 14px;
margin-top: 15px; /* Space above the tools section */
}

/* Hover effect for the entire experience item */
.experience__item:hover {
  background-color: var(--first-color); /* Royal blue background on hover */
   /* White text on hover */
}

/* Ensure that the position, company, year, and tools also turn white on hover */
.experience__item:hover .experience__position {
  font-size: calc(18px * 1.2); /* 20% larger than 18px */
  color: #fbbc14;
  font-weight: bold;
}

.experience__item:hover .experience__company{
  font-size: calc(16px * 1.2); /* 20% larger than 16px */
  color: white;
  font-weight: bold;
}

.experience__item:hover .experience__location {
  font-size: calc(16px * 1.2); /* 20% larger than 16px */
  color: #fbbc14;
  font-weight: bold;
}

.experience__item:hover .experience__year {
  font-size: calc(14px * 1.2); /* 20% larger than 14px */
  color: white;
  font-weight: bold;
}

.experience__item:hover .experience__tools {
  font-size: calc(14px * 1.2); /* Assuming tools have the same initial font-size as year */
  color: #fbbc14;
  font-weight: bold;
}

/* Make description text bold on hover */
.experience__item:hover .experience__description li {
  color: white;
}


/* ===== WORK =====*/
.work__container{
  row-gap: 2rem;

}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
  
}

.work__img img{
  transition: 1s;
  cursor: pointer;
  margin-bottom: 20px;

}

.work__img img:hover{
  transform: scale(1.1); 

}

.work__menu {
  position: relative;
}

.menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 24px; /* or any appropriate size */
  cursor: pointer;
  z-index: 10;
}

.description-bar {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent; /* Set the default background color to transparent */
  transition: background-color 2s, opacity 1s;
  
  /* Add more styles for your description bar here */
}

.description-bar ul {
  margin-top: 10px; /* Adjust the value as needed for top margin */
  margin-left: 20px; /* Adjust the value as needed for left margin */
  margin-right: 10px;
  list-style-type: disc; /* This creates the bullet point style */
}

.description-bar li {
  margin-bottom: 10px; /* Adds space between bullet points if you have multiple */
  font-size: 12px;
  font-weight: bold;
  text-align: justify; 
}

.scrollable-content {
  position: relative;
  max-height: 220px;
  padding: 10px;
  top: 0; /* Start at the top */
  right: 0;
  left: 0;
}

.work__img.show-description img {
  opacity: 0.2; 
}

.show-description .description-bar {
  display: block;
  background-color: #4070F4; /* This will be the background color after activation */
  color: white;
  /* ... other styles ... */
}

/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--first-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-2);
}

.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__icon:hover{
  color: black;
}
.footer__content{
  font-size: 1.2rem;
  margin-bottom: var(--mb-0);
  position: relative;
  display: inline-block;
}
.footer__content:hover{
  color: black;
  transform: scale(1.1);
}

.footer__content .copyBox {
  position: absolute;
    top: -30px; /* adjust as needed */
    left: 80%;
    transform: translateX(-50%);
    display: none;
    padding: 4px 8px;
    background-color: white; /* adjust color as needed */
    border-radius: 5px;
    font-size: 15px;
  /* Add other styles as needed */
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  
  .home__social {
    display: flex;
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  
  
  
  

  .home__img{
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}
